<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shop</title>
    <link rel="stylesheet" href="styles.css">
</head>

    
        <div class="sidebar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/cows">Cow Management</a></li>
                <li><a href="/consultations">Medical Consultations</a></li>
                <li><a href="/births">Cow Births</a></li>
                <li><a href="/milk">Milk Production</a></li>
            </ul>
        </div>
        <div class="main-content">
            <header>
                <h1>Cow and Milk Management</h1>
            </header>
            <body>
                
	<section class="guide">
		<h1>Website Guide</h1>
		<p>What can you do in this website.</p>
		<div class="row">
			<div class="guide-col">
				<h3>Cow Management</h3>
				<p>The Cow Management section is where you can efficiently organize and track information about your cattle.
                     Easily add, edit, and remove cow records, including details such as name, breed, date of birth</p>			</div>
			<div class="guide-col">
				<h3>Medical Consultations</h3>
				<p>The Medical Consultations feature enables you to keep comprehensive health records for your cows.
                     Record details of veterinary visits, diagnoses, and any other relevant medical information.<p>
			</div>
			<div class="guide-col">
				<h3>Cow births Registrations</h3>
				<p>In the Cow Births section, you can document the births of new calves on your farm. 
                    Record essential information such as the mother's ID and date of birth.</p>
			</div>
            <div class="guide-col">
				<h3>Milk Production Management</h3>
				<p>Milk Production allows you to monitor and analyze the milk output of your cows. 
                    Record daily milk quantities along with the date, 
                    making it easy to identify trends and patterns in production. </p>
			</div>
			
		</div>
	</section>
                
            </body>
            <footer>
                <div class="footer-content">
                    <p>&copy; 2023 Milk Way</p>

                </div>
            </footer>
        </div>
</html>
